@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    width: 414px;
}
h1, h2 {
    font-family: 'Righteous', cursive;
}
header {
    background-color:#CF2B2B;
    width: 414px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left:0;
    z-index: 1;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header div {
    margin-left: 21px;
    width: 100%;
}
header div>h1 {
    height: 44px;
    margin: 5px 0;
    font-size: 44px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}
header div>h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 18px;
}
.conteudo {
    margin: 100px 0;
    background-color: #f8f8f8;

}
.cardapio {
    padding-top: 27px
}
.cardapio>h2 {
    margin: 0 0 17px 19px;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;
    
}
.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-left: 10px;
    
}
.box div {
    margin: 17px 9px;
    padding: 0px 14px;
    width: 172px;
    border-radius: 9px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25)
}
.box div>img {
    width: 144px;
    border-radius: 4px;
    margin: 18px 0 8px 0; 
}
.box div>h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin-bottom: 4px;
}
.box div>h4 {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
    margin-bottom: 5px;
}
.box div>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 13px;
}

.confirmar {
    width: 414px;
    height: 92px;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
.confirmar button{
    width: 364px;
    height: 61px;
    left: 25px;
    bottom: 16px;
    background: #CBCBCB;
    border-radius: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

}
button:hover{
    cursor: pointer;
}
.confirmar p {
    display: flex;
    width: 60%;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    color: #FFFFFF;
}

::-webkit-scrollbar {
    display: none;
}
